@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf") format("truetype");
}
:root {
  --color-01: #000000;
  --color-02: #ffffff;
  --font-size: 1rem;
  --transition: all 0.3s ease-in-out;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-01);
  font-size: var(--font-size);
  font-family: "Roboto";
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  user-select: none;
}
*::-webkit-scrollbar {
  display: none;
}

/* ============================================================= Global */

.header,
.header-left,
.header-mid,
.header-mid > a,
.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========================================================== Bootstrap */

.bi-list {
  scale: 2;
  cursor: pointer;
  display: none;
}

/* ============================================================= Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  justify-content: center;
  background-color: var(--color-02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.header-left,
.header-right {
  height: 100%;
  width: 20%;
  max-width: 200px;
  gap: 10px;
}
.header-left > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  cursor: pointer;
  filter: invert(1);
}
.header-mid {
  height: 100%;
  width: 60%;
  max-width: 700px;
}
.header-mid > a {
  height: 100%;
  width: 20%;
}
.header-mid > a:hover,
.header-mid > a.active {
  color: var(--color-02);
  background-color: var(--color-01);
}

/* ========================================================= Responsive */

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
  .header-right {
    justify-content: right;
    padding-right: 30px;
  }
  .header-right > a {
    display: none;
  }
  .header-mid {
    display: none;
  }
  .bi-list {
    display: block;
  }
}
