@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf") format("truetype");
}
:root {
  --color-01: #FFF;
  --color-02: #530C56;
  --color-03: #632B2B20;
  --font-size: 1rem;
  --transition: all 0.3s ease-in-out;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-01);
  font-size: var(--font-size);
  font-family: "Roboto";
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  user-select: none;
}
*::-webkit-scrollbar {
  display: none;
}

/* ============================================================= Global */

.header,
.header-left,
.header-mid,
.header-mid > a,
.header-right,
.scroll-panel,
.panel,
.panel-long,
.panel-long-desc,
.player,
.player-left,
.player-info,
.player-mid,
.player-mid-control,
.player-mid-track,
.player-right,
.footer,
.footer-main,
.footer-nav,
.footer-end {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hide {
  display: none;
}
body{
  background: url('../assets/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
progress {
  appearance: none;
  width: 100%;
  height: 6px;
}
progress::-webkit-progress-bar {
  background-color: var(--color-03);
  border-radius: 3px;
}
progress::-webkit-progress-value {
  background-color: var(--color-01);
  border-radius: 3px;
}
input {
  appearance: none;
  height: 100%;
  width: 250px;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-01);
  background-color: transparent;
  padding: 5px;
}
input::placeholder {
  color: var(--color-01);
}
input:hover,
input:focus {
  color: var(--color-01);
  border-bottom: 2px solid var(--color-01);
}
input:hover::placeholder,
input:focus::placeholder {
  color: var(--color-01);
}

/* ========================================================== Bootstrap */

.bi {
  fill: var(--color-01);
}
.bi:hover {
  fill: var(--color-01);
}
.bi-list {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.bi-heart,
.bi-shuffle,
.bi-repeat,
.bi-arrows-angle-expand {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
.bi-play-circle,
.bi-pause-circle {
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.bi-skip-forward,
.bi-skip-backward,
.bi-volume-up,
.bi-volume-mute {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

/* ============================================================= Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  justify-content: center;
  background-color: var(--color-02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.header-left > a> img{
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.header-right {
  height: 100%;
  width: 20%;
  max-width: 200px;
  gap: 10px;
}

.header-mid {
  height: 100%;
  width: 60%;
  max-width: 700px;
}
.header-mid > a {
  height: 100%;
  width: 20%;
}
.header-mid > a:hover,
.header-mid > a.active {
  color: var(--color-02);
  background-color: var(--color-01);
}

/* ============================================================= Player */

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  justify-content: space-between;
  background-color: var(--color-02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.player-left,
.player-right {
  height: 100%;
  width: 30%;
  max-width: 250px;
}
.player-left > img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  filter: invert(1);
  margin-right: 10px;
}
.player-info {
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-right: 20px;
}
.player-title {
  font-weight: bold;
}
.player-mid {
  height: 100%;
  width: 40%;
  max-width: 700px;
  flex-direction: column;
  padding: 0 20px;
}
.player-mid-control {
  height: fit-content;
  width: 100%;
  justify-content: space-evenly;
}
.player-mid-track {
  height: 20px;
  width: 100%;
  gap: 10px;
}
.player-right {
  gap: 10px;
}
.player-right > progress {
  max-width: 130px;
}

/* ============================================================== Panel */

.scroll {
  position: relative;
  margin-top: 50px;
}
.scroll > p {
  font-size: calc(1.5 * var(--font-size));
  font-weight: bold;
}
.scroll > a {
  position: absolute;
  top: 0;
  right: 0;
}
.scroll-panel {
  position: relative;
  height: fit-content;
  width: 100%;
  justify-content: left;
  gap: 20px;
  overflow-x: scroll;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.7));
}
.artist-panel{
  height: fit-content;
  width: 180px;
  min-width: 180px;
  aspect-ratio: 3/4;
  flex-direction: column;
  align-items: start;
  text-align: center;
  margin-top: 15px;
  padding: 15px;
  gap: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.artist-panel > img {
  height: fit-content;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 100%;
  background: linear-gradient(
    45deg,
    var(--color-01),
    var(--color-03),
    var(--color-01)
  );
}
.panel {
  height: fit-content;
  width: 180px;
  min-width: 180px;
  aspect-ratio: 3/4;
  flex-direction: column;
  align-items: start;
  margin-top: 15px;
  padding: 15px;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--color-03);
}
.panel > img {
  height: fit-content;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    var(--color-01),
    var(--color-03),
    var(--color-01)
  );
}
.panel > p:nth-child(2),
.panel-long-desc > p:nth-child(1) {
  font-weight: bold;
}
.panel-long {
  height: fit-content;
  width: 400px;
  min-width: 400px;
  aspect-ratio: 4/1;
  justify-content: left;
  align-items: center;
  margin-top: 15px;
  padding: 15px;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--color-03);
}
.panel-long > img {
  height: 100%;
  width: fit-content;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    var(--color-01),
    var(--color-03),
    var(--color-01)
  );
}
.panel-long-desc {
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

/* ============================================================= Footer */

.footer {
  height: fit-content;
  width: 100%;
  padding: 100px 100px 150px 100px;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.footer > p:first-child {
  font-size: calc(1.5 * var(--font-size));
  font-weight: bold;
}
.footer > p:nth-child(2) {
  text-align: justify;
}
.footer-main {
  height: fit-content;
  width: 100%;
}
.footer-nav {
  height: fit-content;
  width: 50%;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}
.footer-nav > a {
  font-weight: bold;
}
.footer-end {
  height: fit-content;
  width: 100%;
  flex-direction: column;
  margin-top: 30px;
  gap: 15px;
}

/* ========================================================= Responsive */

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
  .header-right {
    justify-content: right;
    padding-right: 20px;
  }
  .header-right > a {
    display: none;
  }
  .header-mid {
    display: none;
  }
  .bi-list {
    display: block;
  }
  .footer {
    padding: 50px;
  }
}
