/* ============================================================= Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    justify-content: center;
    background-color: var(--color-02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 999;
  }
 

.main-header {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
  }

  .main-header > p {
    font-size: calc(2 * var(--font-size));
    font-weight: bold;
    text-align: right;
  }


  