/* ============================================================= Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100vw;
    justify-content: center;
    background-color: var(--color-02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    z-index: 999;
  }

  


  .container{
    position:relative;
    overflow-x: hidden;
  }

  .left-box{
    position: fixed;
    margin-top: 80px;
    height: 800px;
    width: 300px;
    background-color: var(--color-02);
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }

  .left-box > p{
    height: 50px;
    width: 20px;
    padding-top: 30px;
    display: block;
  }
  #likes{
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    height: 40px;
    margin-top: 50px;
    /* background-color: aqua; */
  }

  .your-likes{
    /* margin-top: 50px; */
    width: 40px;
    height: 40px;
  }

  .likes-text{
    /* margin-left: 45px; */
    margin-top: 4px;
    width: fit-content;
  }

  .main {
    width: 100%;
    height: 100%;
    margin-left: 200px;
    margin-top: 81px;
    display:block;
    overflow-y: scroll;
    overflow-x: hidden;
    /* position: relative; */
    /* background-color: aqua; */
  }
  .main.inactive{
    display: none;
  }

  .main.active{
    display: block;
  }
  
  .title{
    /* margin-left: 305px; */
    /* margin-top: ; */
    padding-top: 20px;
    padding-left: 30px;
    height: auto;
    width: fit-content;
    /* background-color: magenta; */
  }

  .title > p{
    font-size: 50px;
    font-weight: bold;
  }


  .section{
    opacity: 60%;
    cursor: pointer;
  }
  .section.active{
    opacity: 100%;
  }

  .section.inactive{
    opacity: 60%
  }

  .content{
    margin-left: 20px;
    margin-top: 20px;
    width: 300px;
    height: 200px;
    display: flex;
    gap:20px;
    
  }

  
  .newplaylist{
    height: 240px;
    width: auto;
  }

  /* ============================================================= Your Likes */ --> 
 .title_box{
    display: flex;
    background-image: url("../library/likes_rectangle.png");
    width: 100%;
    height: 430px;
 }

 .image{
    height: fit-content;
    width: fit-content;
    margin-left: 80px;
    margin-top: 40px;
    /* background-color: aquamarine; */
 }

 .image_img{
    height: 350px;
    width: 350px;
 }

 .text_box{
    height: 350px;
    width: 950px;
    margin-top: 40px;
    padding-top: 100px;
    padding-left: 40px;
    /* background-color: orchid; */
 }

 .text1{
    font-size: 17px;
 }

 .text2{
    font-size: 100px;
    font-weight: bolder;
  }

.text3{
  font-weight: 300;
}

.text4{
  padding-top: 60px;
  font-weight: 300;
}

.playdownload{
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  margin-top: 10px;
  margin-left: 80px;
  gap: 20px;
  /* background-color: lightpink; */
}

.download{
  width: 40px;
  height: 40px;
}

.sub_title{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 80px;
  /* margin-right: ; */
  height: 50px;
  width: 85%;
  /* background-color: mediumturquoise; */
}

.sub_title > p{
  font-weight: bold;
  font-size: 22px;
}

.title_txt{
  margin-left: 50px;
}

.artist_txt{
  margin-left: 450px;
}

.album_txt{
  margin-left: 350px;
}

.time_icon{
  margin-left: 400px;
  width: 30px;
  height: auto;
}

.line{
  margin-left: 80px;
  margin-right: 20px;
  height: 1px;
  width: 85%;
  background-color: var(--color-02);
}

.song_panel{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* justify-tracks: center; */
  margin-top: 10px;
  margin-left: 80px;
  /* margin-right: ; */
  height: 50px;
  width: 85%;
  /* background-color: magenta; */
}

.song_panel>p{
  font-size: 20px;
}

.cover_img{
  border-radius: 5px;
  height: 50px;
  width: 400px;
  display: flex;
  align-items: center;
  gap: 50px;
  
  margin-left: 50px;
  /* background-color: antiquewhite; */
}
.cover_img img{
  border-radius: 5px;
  height: 50px;
  width: 50px;
}
.cover_img p{
  font-size: 20px;
}
.fence{
  /* background-color: aquamarine; */
  height: 100%;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist{
  height: 100%;
  width: 250px;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.artist p{
  font-size: 20px;
}
.album{
  height: 100%;
  width: 650px;
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.album p{
  font-size: 20px;
  margin-right: 100px;
}
.time{
  height: 100%;
  width: 90px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.time p{
  font-size: 20px;
}




  



  


  